@main("Exercise") {
    <div ng-controller="ExerciseController">
        <div class="row" ng-if="!showResult">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 text-center">
                <h3>Level <span ng-bind="level"></span></h3>
                <h3 ng-bind="category.name"></h3>
                <h1>Speak It Out!</h1>
                <img ng-src="assets/{{ currentWord.picture }}" alt="" style="margin : 2 em ;">
                <div class="row">
                    <span>Your progress:</span>
                    <ul class="list-inline" style="color : yellow">
                        <li ng-repeat="word in correctWords">*</li>
                    </ul>
                    <button>Finish!</button>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div ng-if="showResult">
            <h3 class="text-center">Level <span ng-bind="level"></span></h3>
            <h1>Result!</h1>
            <div class="row">
                <div class="col-md-6">
                    <img class="center" ng-src="assets/{{ currentWord.picture }}" >
                </div>
                <div class="col-md-6">
                    <p>You think this is a <span ng-bind="answer"></span></p>
                    <p>In fact this is a <span ng-bind="currentWord.spelling"></span></p>
                    <button ng-click="nextWord()">Next</button>
                </div>
            </div>
            <div class="text-center">
                <span>Your progress:</span>
            <ul class="list-inline" style="color : yellow">
                <li ng-repeat="word in correctWords">*</li>
            </ul>
            <button >Finish!</button>
            </div>
        </div>
    </div>
}