@main("Exercise") {
    <div ng-controller="ExerciseController">
        <div class="row" ng-if="!showResult">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 text-center">
                <h3>Level <span ng-bind="level"></span></h3>
                <h3 ng-bind="category.name"></h3>
                <h1>Speak It Out!</h1>
                <img ng-src="assets/{{ currentWord.picture }}">
                <div class="row">
                    <span>Your progress:</span>
                    <ul class="list-inline" style="color : yellow">
                        <li ng-repeat="word in correctWords">*</li>
                    </ul>
                    <div ng-controller='DemoController'>
                        <ng-audio-recorder id='audioInput' audio-model='recordedInput'>
                                <!-- Start controls, exposed via recorder-->
                            <div ng-if="recorder.isAvailable">
                                @*<button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
                                    Start Record
                                </button>
                                <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                                    Stop Record
                                </button>
                                <button ng-click="recorder.playbackRecording()" type="button"
                                ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                                    Play Back
                                </button>*@
                                <button ng-click='recorder.startRecord()'>Start</button>
                                <button ng-click='recorder.stopRecord()'>Stop</button>
                                <button ng-click='recorder.save("assets/recordings/1.wav")'>Save</button>
                            </div>

                            <div ng-if="!recorder.isAvailable">
                                Message for users when recording is not possible.
                            </div>
                        </ng-audio-recorder>
                    </div>
                    @*<ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="false">*@
                    @*<!-- controls -->*@
                    @*<button ng-click='recorder.startRecording()'>Start</button>*@
                    @*<button ng-click='recorder.stopRecording()'>Stop</button>*@
                    @*<button ng-click='recorder.save("assets/recordings/1.wav")'>Save</button>*@
                    @*</ng-audio-recorder>*@
                    <button type="button" class="btn btn-default btn-lg" >Finish!</button>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div ng-if="showResult">
            <h3 class="text-center">Level <span ng-bind="level"></span></h3>
            <h1>Result!</h1>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive center" ng-src="assets/{{ currentWord.picture }}" >
                </div>
                <div class="col-md-6">
                    <div class="result">
                        <p>You think this is a <span style="color: red;"@*ng-bind="answer"*@>dog</span></p>
                        <p>In fact this is a <span style="color: green;"ng-bind="currentWord.spelling"></span></p>
                        <button type="button" class="btn btn-default btn-lg" ng-click="nextWord()">Next</button>
                        <button type="button" class="btn btn-default btn-lg" >Finish!</button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                Your progress:
                <ul class="list-inline" style="color : yellow">
                    <li ng-repeat="word in correctWords">*</li>
                </ul>
            </div>
        </div>
    </div>
}